<header>
    <h1>Third Generation</h1>
</header>
<main>
    <p>
        The next generation of fighters were designed from the start to be multi-role. They were expected to carry a wide
        range of weapons and other ordnance, such as air-to-ground missiles and laser-guided bombs, while also being able to
        engage in air-to-air interception beyond visual range. Their supporting avionics included pulse-doppler radar,
        off-sight targeting and terrain-warning systems.
    </p>
    <p>
        The advent of more economical turbofan engines brought extended range and sortie times, while increased thrust could
        only partly deliver better performance and manoeuvrability across the speed range. Some designers resorted to
        variable geometry or vectored thrust in an attempt to reconcile these opposites. Types such as the McDonnell Douglas F-4
        Phantom, General Dynamics F-111, Mikoyan-Gurevich MiG-23, Sukhoi Su-17, Shenyang J-8, and Hawker Siddeley Harrier had varying
        degrees of success.
    </p>
</main>
