<h1>Welcome</h1>
<p>
    Fun fact! I love airplanes and all kinds of aircraft. My favorites are from
    the jet fighter line of aircraft. These aircraft were made for air to air combat
    and other multirole purposes.
</p>
<p>
    Each of these are broken into generations. These generations classify the
    techonoligical advances or jumps during the evolution of the jet fighter. There
    are currently five generations with the sixth on its way. I will not go into
    detail regarding the sixth generation since nothing is for sure besides who is
    developing them.
</p>
<p>
    Additionally, I will provide some statistics and data for each aircraft in each 
    generation. This will help visualize the which aircraft are better in which areas.
    Then I will also provide a table to show all of the aircraft that I listed and show
    how the advances over the years started to create gaps between performance for each 
    generation and how much faster and more efficient these aircraft became in such a
    short amount of time.
</p>
<p>
    The statistics shown will be the name of the aircraft, the size of the crew, lenght, 
    wingspan, height, empty weight without fuel, maximum speed, range, and its rate of 
    climb. The units of measure will be notated in the header of the columns. 
</p>
<p>
    Here is a video explaining the jet fighter generations that I like!
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/B__4xSGTvHc?si=Oo-14u06abm5tOYt"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
</iframe>